<%= render(partial: 'bare_header', locals: {title: t('login')}) %>
<main>
  <div class="center-wrapper">
    <%= form_tag(sessions_path) do %>
    <% if(flash.any?) %>
      <div class="alert">
        <% flash.each do |name, message| %>
          <div class="error-message <%= name %>"><%= message %></div>
        <% end %>
      </div>
    <% end %>
      <div class="input-group">
        <%= label(:email, nil, t('email_address'), class:"input-group__label") %>
        <%= text_field_tag(:email, nil, class:"input-group__field") %>
      </div>
      <div class="input-group">
        <%= label(:password, nil, t('password'), class:"input-group__label") %>
        <%= password_field_tag(:password, nil, class:"input-group__field") %>
      </div>
      <div class="prompt">
        <%= link_to(t('cancel'), home_about_path, class:"btn btn--warning prompt__cancel") %>
        <%= button_tag(t('login'), type: "submit", class:"btn btn--action prompt__confirm") %>
      </div>
    <% end %>
  </div>
</main>
